body {
   background: linear-gradient(90deg, rgba(9,121,73,1) 32%, rgba(97,104,177,1) 57%, rgba(255,68,0,1) 100%);19,121,1) 58%, rgba(255,68,0,1) 100%);
}

.form-card {
    background-color:rgb(238, 237, 237);
    border-radius: 10px;
    margin-top: 300px;
    text-align: center;
    width: 250px;
    height: 200px;
    display: block;
    margin-left: auto; 
    margin-right: auto; 


}
input{
    padding: 15px;
    border: none;
    outline: none;
}